html, body {
  width: 100%;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(33, 42, 43);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

p {
  margin: 0px;
}

.container-header {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: blueviolet;
  object-fit: contain;
  padding: 12px;
}

.container-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 84vw;
  background-color: rgb(94, 190, 132);
  padding: 12px;
}

.container-navigation {
  position: relative;
  width: 16vw;
  height: 85vh;
  background-color: blanchedalmond;
  padding: 12px;
}

.container-footer {
  position: relative;
  min-height: 24px;
  width: 100%;
  height: auto;
  background-color: cadetblue;
  padding: 12px;
}  
